body {
    margin:0;
    padding:0;
    background-color: #272727;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.column {
    float: left;
  }
  .left {
    width: 25%;
    height: 600px;
    background-color: #272727;
    text-align: center
  }
  
  .right {
    width: 75%;
    background-color: white;
    text-align: center
  }

